<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
        <title>Blank Page &mdash; Stisla</title>

        <!-- General CSS Files -->
        <link rel="stylesheet" href="/assets/css/bootstrap/custom.css" />
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />

        <!-- CSS Libraries -->
        <link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.min.css" />
        <link rel="stylesheet" href="/node_modules/selectric/public/selectric.css" />
        <link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" />
        <link rel="stylesheet" href="/node_modules/izitoast/dist/css/iziToast.min.css" />
        <link rel="stylesheet" href="/node_modules/rateyo/min/jquery.rateyo.min.css" type="text/css" />

        <!-- Template CSS -->
        <link rel="stylesheet" href="/assets/admin/css/bootstrap/style.css" />
        <link rel="stylesheet" href="/assets/admin/css/bootstrap/components.css" />
        <link rel="stylesheet" href="/assets/css/general.css" />
        {% block css %}{% endblock css %}
        <link rel="stylesheet" href="/assets/admin/css/templates/header.css" />
        <link rel="stylesheet" href="/assets/admin/css/templates/sidebar.css" />
    </head>

    <body>
        <div id="app">
            <div class="main-wrapper">
                {% include 'admin/templates/header.html.twig' %}
                
                {% include 'admin/templates/sidebar.html.twig' %}
                
                {% block content %}{% endblock content %}
                
                {% include 'admin/templates/footer.html.twig' %}
            </div>
        </div>

        <!-- General JS Scripts -->
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="module" src="/node_modules/popper.js/dist/popper.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/nicescroll/dist/jquery.nicescroll.min.js"></script>
        <script type="module" src="/node_modules/moment/dist/moment.js"></script>
        <script src="/assets/admin/js/stisla.js"></script>

        <!-- JS Libraies -->
        <script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="/node_modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
        <script src="/node_modules/selectric/public/jquery.selectric.min.js"></script>
        <script src="/node_modules/select2/dist/js/select2.min.js"></script>
        <script src="/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
        <script src="/node_modules/moment/moment.js"></script>
        <script src="/node_modules/izitoast/dist/js/iziToast.min.js"></script>
        <script src="/node_modules/dropzone/dist/min/dropzone.min.js"></script>
        <script type="text/javascript" src="/node_modules/rateyo/min/jquery.rateyo.min.js"></script>

        <!-- Template JS File -->
        <script src="/assets/admin/js/scripts.js"></script>
        <script src="/assets/admin/js/custom.js"></script>

        <!-- Page Specific JS File -->
        {% block js %}{% endblock js %}
        <script src="/assets/admin/js/templates/header.js"></script>
    </body>
</html>