<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Cadastre seu Restaurante</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/App/assets/css/bootstrap/config.css" type="text/css"/>
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.min.css">
  <link rel="stylesheet" href="/node_modules/selectric/public/selectric.css">
  <link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css" />
  <link rel="stylesheet" href="/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" />
  <link rel="stylesheet" href="/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/App/assets/admin/css/style.css">
  <link rel="stylesheet" href="/App/assets/admin/css/components.css">
  <link rel="stylesheet" href="/App/assets/css/pages/register/registerPartner.css">
  <link rel="stylesheet" href="/App/assets/css/pages/register/modals/operation.css">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row col-10 offset-1">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="login-brand">
              <img src="/App/assets/images/logo-brumas-delivery-white.png" alt="logo" width="200">
            </div>

            <form method="POST" action="/be-a-partner-action" class="register-partner">
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active">Responsável</li>
                <li>Restaurante</li>
                <li>Conta</li>
              </ul>
              
              <fieldset class="register-partner-step-1">
                <div class="card card-primary">
                  <div class="card-header"><h4>Cadastre seu Restaurante</h4></div>
    
                  <div class="card-body">
                    <div class="form-divider">
                      <i class="fa fa-genderless"></i>
                      Informações do Responsável
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="firstName">Nome</label>
                        <input id="firstName" type="text" class="form-control" name="firstName" placeholder="Digite seu nome" autofocus>
                      </div>
                      <div class="form-group col-6">
                        <label for="lastName">Sobrenome</label>
                        <input id="lastName" type="text" class="form-control" name="lastName" placeholder="Digite seu sobrenome">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email" placeholder="Digite seu email">
                      </div>

                      <div class="form-group col-6">
                        <label for="cellPhone">Celular</label>
                        <input id="cellPhone" type="tel" class="form-control" name="cellPhone" placeholder="Digite seu celular" data-mask="(00) 0000-00000">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="address">Endereço</label>
                        <input type="text" id="address" class="form-control" name="address" placeholder="Endereço">
                      </div>

                      <div class="form-group col-4">
                        <label for="neighborhood">Bairro</label>
                        <input type="text" id="neighborhood" class="form-control" name="neighborhood" placeholder="Bairro">
                      </div>

                      <div class="form-group col-2">
                        <label for="number">Número</label>
                        <input type="text" id="number" class="form-control" name="number" placeholder="N.º">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-4">
                        <label for="state">Estado</label>
                        <select id="state" class="form-control selectric" name="state">
                          <option value="" selected disabled>Selecione</option>
                          <option value="5">Bahia - BA</option>
                        </select>
                      </div>

                      <div class="form-group col-4">
                        <label for="city">Cidade</label>
                        <select id="city" class="form-control selectric" name="city">
                          <option value="" selected disabled>Selecione</option>
                          <option value="336">Brumado</option>
                        </select>
                      </div>

                      <div class="form-group col-4">
                        <label for="complement">Complemento</label>
                        <input type="text" id="complement" name="complement" class="form-control" placeholder="Complemento">
                      </div>
                    </div>

                    <div class="form-group col-3 float-right p-0 mt-2">
                      <button type="button" data-step="1" class="next btn btn-primary btn-lg btn-block">
                        Proxímo
                      </button>
                    </div>

                  </div>
                </div>

                <footer class="simple-footer text-white">
                  Copyright &copy; Brumas Delivery 2020
                </footer>
              </fieldset>

              <fieldset class="register-partner-step-2">
                <div class="card card-primary">
                  <div class="card-header"><h4>Cadastre seu Restaurante</h4></div>
    
                  <div class="card-body">
                    <div class="form-divider">
                      <i class="fa fa-genderless"></i>
                      Informações do Restaurante
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="restaurantName">Nome</label>
                        <input id="restaurantName" type="text" class="form-control" name="restaurantName" placeholder="Digite o nome do restaurante" autofocus>
                      </div>
                      <div class="form-group col-6">
                        <label for="restaurantCnpj">CNPJ</label>
                        <input id="restaurantCnpj" type="text" class="form-control" name="restaurantCnpj" placeholder="Digite o cnpj do restaurante" data-mask="00.000.000/0000-00" data-mask-reverse="true">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-12">
                        <label for="restaurantEmail">Email</label>
                        <input id="restaurantEmail" type="email" class="form-control" name="restaurantEmail" placeholder="Digite o email do restaurante">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="restaurantPhone">Telefone</label>
                        <input id="restaurantPhone" type="tel" class="form-control" name="restaurantPhone" placeholder="Digite o telefone do restaurante" data-mask="(00) 0000-0000">
                      </div>

                      <div class="form-group col-6">
                        <label for="restaurantCellPhone">Celular</label>
                        <input id="restaurantCellPhone" type="tel" class="form-control" name="restaurantCellPhone" placeholder="Digite o celular do restaurante" data-mask="(00) 0 0000-0000">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="restaurantMainCategories">Categorias Principais</label>
                        <select id="restaurantMainCategories" class="form-control restaurant-main-categories selectri" name="restaurantMainCategories[]"
                        multiple="multiple">
                          <option value="" disabled>Selecione</option>
                          <option value="1">Pizzas</option>
                          <option value="2">Bebidas</option>
                          <option value="3">Sorvetes</option>
                          <option value="4">Lanches</option>
                          <option value="5">Bolos</option>
                          <option value="6">Sobremesas</option>
                        </select>
                      </div>

                      <div class="form-group col-6">
                        <label>Funcionamento</label>
                        <button id="restaurantAddOperation" class="form-control btn btn-primary"><i class="fas fa-history mr-1"></i> Adicionar Horários</button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="restaurantAddress">Endereço</label>
                        <input type="text" id="restaurantAddress" class="form-control" name="restaurantAddress" placeholder="Endereço">
                      </div>

                      <div class="form-group col-4">
                        <label for="restaurantNeighborhood">Bairro</label>
                        <input type="text" id="restaurantNeighborhood" class="form-control" name="restaurantNeighborhood" placeholder="Bairro">
                      </div>

                      <div class="form-group col-2">
                        <label for="restaurantNumber">Número</label>
                        <input type="text" id="restaurantNumber" class="form-control" name="restaurantNumber" placeholder="N.º">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-4">
                        <label for="restaurantState">Estado</label>
                        <select id="restaurantState" class="form-control selectric" name="restaurantState">
                          <option value="" selected disabled>Selecione</option>
                          <option value="5">Bahia - BA</option>
                        </select>
                      </div>

                      <div class="form-group col-4">
                        <label for="restaurantCity">Cidade</label>
                        <select id="restaurantCity" class="form-control selectric" name="restaurantCity">
                          <option value="" selected disabled>Selecione</option>
                          <option value="336">Brumado</option>
                        </select>
                      </div>

                      <div class="form-group col-4">
                        <label for="restaurantComplement">Complemento</label>
                        <input type="text" id="restaurantComplement" class="form-control" name="restaurantComplement" placeholder="Complemento">
                      </div>
                    </div>

                    <div class="row justify-content-between mt-2">
                      <div class="form-group col-3">
                        <button type="submit" data-step="2" class="previous btn btn-light btn-lg btn-block">
                          Voltar
                        </button>
                      </div>
      
                      <div class="form-group col-3">
                        <button type="button" data-step="2" class="next btn btn-primary btn-lg btn-block">
                          Próximo
                        </button>
                      </div>
                    </div>      
                    
                  </div>
                </div>

                <footer class="simple-footer text-white">
                  Copyright &copy; Brumas Delivery 2020
                </footer>
              </fieldset>
              
              <fieldset class="register-partner-step-3">
                <div class="card card-primary">
                  <div class="card-header"><h4>Cadastre seu Restaurante</h4></div>
    
                  <div class="card-body">
                    <div class="form-divider">
                      <i class="fa fa-genderless"></i>
                      Informações da Conta
                    </div>

                    <div class="form-group">
                      <label for="accountUserName">Usuário</label>
                      <input id="accountUserName" type="text" class="form-control" name="accountUserName" placeholder="Crie um nome de usuário" autofocus>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="accountPassword">Senha</label>
                        <input id="accountPassword" type="password" class="form-control" name="accountPassword" placeholder="Crie uma senha">
                      </div>

                      <div class="form-group col-6">
                        <label for="accountConfirmPassword">Confirmar Senha</label>
                        <input id="accountConfirmPassword" type="password" class="form-control" name="accountConfirmPassword" placeholder="Confirme a senha">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="accountTerms" class="custom-control-input" id="accountTerms">
                        <label class="custom-control-label" for="accountTerms">Eu concordo com os termos e condições</label>
                      </div>
                    </div>

                    <div class="row justify-content-between">
                      <div class="form-group col-3">
                        <button type="button" data-step="3" class="previous btn btn-light btn-lg btn-block">
                          Voltar
                        </button>
                      </div>
      
                      <div class="form-group col-4">
                        <button type="submit" data-last-step="3" data-step="" class="btn btn-primary btn-lg btn-block last-step">
                          Cadastrar
                        </button>
                      </div>
                    </div>      
                    
                  </div>
                </div>

                <footer class="simple-footer text-white">
                  Copyright &copy; Brumas Delivery 2020
                </footer>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>

    {# Modals #}
    {% include "pages/register/modals/operation.html.twig" %}
  </div>

  <!-- General JS Scripts -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="module" src="/node_modules/popper.js/dist/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/nicescroll/dist/jquery.nicescroll.min.js"></script>
  <script type="module" src="/node_modules/moment/dist/moment.js"></script>
  <script src="/App/assets/admin/js/stisla.js"></script>

  <!-- JS Libraies -->
  <script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
  <script src="/node_modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script src="/node_modules/selectric/public/jquery.selectric.min.js"></script>
  <script src="/node_modules/select2/dist/js/select2.min.js"></script>
  <script src="/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
  <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
  <script src="/node_modules/moment/moment.js"></script>

  <!-- Template JS File -->
  <script src="/App/assets/admin/js/scripts.js"></script>
  <script src="/App/assets/admin/js/custom.js"></script>
  
  <!-- Page Specific JS File -->
  <script src="/App/assets/js/pages/register/registerPartner.js"></script>
  <script src="/App/assets/js/pages/register/modals/operation.js"></script>
</body>
</html>
