.restaurant-item-medium {
	margin-top: 15px;
	margin-bottom: 15px;
}

.restaurant-item-medium a {
	display: flex;
	text-decoration: none;
}

.widget h1 {
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
}

.restaurant-item-medium .widget-image {
	padding: 0;
}

.restaurant-item-medium .widget-image img {
	width: 115px;
	height: 115px;
	object-fit: cover;
}

.restaurant-item-medium .widget-info {
	padding: 0;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.restaurant-item-medium .widget-info span.restaurant-rating-medium {
	color: #212529;
	margin-right: 82px;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

.restaurant-item-medium .widget-restaurant-name {
	font-size: 17px;
	color: #212529;
	margin-bottom: 2px;
}

.restaurant-item-medium .widget-restaurant-rating {
	margin-top: 2px;
}

/*
.restaurant-item-medium .widget-current-price {
	color: #000;
	font-weight: bold;
}

.restaurant-item-medium .widget-product-price .old-price {
	margin-right: 15px;
}
*/

.restaurant-item-medium .restaurant-rating-widget-medium.jq-ry-container {
	padding: 0;
}

/*
.restaurant-item-medium .clear {
	clear: both;
} */