#pills-restaurant-edit {
    #pills-social-media {
        table.restaurant-social-media {
            table-layout: fixed;
            
            th, 
            td {
                vertical-align: middle;
            }
            
            th:nth-child(3) {
                width: 17%;
            }

            td.link-or-phone {
                color: #fa3734;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
            
            .actions {
                display: flex;
            }
            
            .action {
                /* width: -webkit-fill-available;
                border-radius: 50%; */
                margin: 0 2px;
            }
        }
        
        #addSocialMedia {
            border-radius: 50%;
        }                    
    }
}