{% set accountFavorites = "active" %}

{% extends "admin/templates/base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/admin/css/pages/account/favorites/favorites.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/pages/restaurant/restaurantItem.css" type="text/css" />
{% endblock css %}

{% block content %}
  <div class="main-content">
    <section class="section account-favorites">
      <div class="section-header justify-content-between">
        <h1>Favoritos</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Favoritos</li>
          </ol>
        </nav>
      </div>

      <div class="section-body">
        <div class="card p-3">
          {% if restaurants %}
            <div class="row restaurants">  
              {% for restaurant in restaurants %}
                  {% set mainCategories = explode(',', restaurant['main_categories']) %}
                  {% set mainCategoriesNamesArr = [] %}
    
                  {% for mainCategory in mainCategories %}
                      {% if mainCategory == categories[mainCategory - 1]['id_category'] %}
                          {% set mainCategoriesNamesArr = mainCategoriesNamesArr|merge([categories[mainCategory - 1]['name']]) %}
                          
                          {% set restaurant = restaurant|merge({'main_categories_name': mainCategoriesNamesArr}) %}
                      {% endif %}
                  {% endfor %}
              
                  {% for restaurantOpen in restaurantsOpen %}
                      {% if restaurantOpen['restaurant_id'] == restaurant['id_restaurant'] %}
                          {% set restaurant = restaurant|merge({'status': 1}) %}
                      {% endif %}
                  {% endfor %}
    
                  {% for restaurantClosed in restaurantsClosed %}
                      {% if restaurantClosed['restaurant_id'] == restaurant['id_restaurant'] %}
                          {% set restaurant = restaurant|merge({'status': 0}) %}
                      {% endif %}
                  {% endfor %}
    
                  {% set restaurant = restaurant|merge({'onsale': 0}) %}
                  {% for restaurantInPromotion in restaurantsInPromotion %}
                      {% if restaurantInPromotion['id_restaurant'] == restaurant['id_restaurant'] %}
                          {% set restaurant = restaurant|merge({'onsale': 1}) %}
                      {% endif %}
                  {% endfor %}
    
                  <div class="col-sm-3 px-2 pb-3 restaurant-item">
                    {% include "pages/restaurant/restaurantItem.html.twig" with restaurant %}
                  </div>
              {% endfor %}
            </div> 
          {% else %}
            <div class="text-center">Você não tem favoritos!</div>    
          {% endif %}        
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="/assets/js/pages/restaurant/restaurantItem.js"></script>
{% endblock %}