<div class="modal fade" id="plateNotAdded" tabindex="-1" role="dialog" aria-labelledby="plateNotAdded" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="content">
                    <h5 class="modal-title">Adicione itens de um restaurante por vez</h5>
                    <p class="modal-subtitle">Deseja esvaziar o carrinho e adicionar este item ?</p>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row no-gutters">
                
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="cleanCartAndAdd" data-dismiss="modal">
                    Esvaziar carrinho e adicionar
                </button>
            </div>
        </div>
    </div>
</div>