{% extends "templates/base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/pages/restaurant/restaurant.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/pages/restaurant/modals/showPlate.css" type="text/css" />
{% endblock css %}

{% block content %}
    <div class="restaurant-container col-md-12 px-0">
        <div class="restaurant-header">
            <div class="container">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="restaurant-image">
                                <img src="{{ restaurantInfo['image'] ?? '/media/categories/others/others-plates-img-default-150x150.jpg' }}" alt="{{ restaurantInfo['name'] }}">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="restaurant-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="restaurant-name">{{ restaurantInfo['name'] }}</h1>

                                        {% set mainCategories = explode(',', restaurantInfo['main_categories']) %}
                                        {% set mainCategoriesNamesArr = [] %}
            
                                        {% for mainCategory in mainCategories %}
                                            {% if mainCategory == categories[mainCategory - 1]['id_category'] %}
                                                {% set mainCategoriesNamesArr = mainCategoriesNamesArr|merge([categories[mainCategory - 1]['name']]) %}
                                                
                                                {% set restaurantInfo = restaurantInfo|merge({'main_categories_name': mainCategoriesNamesArr}) %}
                                            {% endif %}
                                        {% endfor %}

                                        <span class="restaurant-categories">{{ implode(" & ", restaurantInfo['main_categories_name']) }}</span>
                                        <div class="rating-page-restaurant">
                                            <div class="rating-read-only"></div>
                                            <span class="average-rating">3.1</span>
                                            <span class="all-ratings">(96 Avaliações)</span>
                                        </div>
                                        <div class="restaurant-info-1 ml-1">
                                            <span class="restaurant-time mr-3">
                                                <i class="fas fa-truck text-cc-red mr-1"></i>
                                                40~70min
                                            </span>
                                            <span class="restaurant-status">
                                                <i class="fas fa-clock text-cc-red mr-1"></i>
                                                Aberto até as 18:00
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rating-page-restaurant float-right text-right">
                                            <span class="add-favorites" title="Adicionar aos Favoritos"><i class="fas fa-heart ml-2"></i></span>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>

                    <div class="restaurant-menu">
                        <!-- Nav tabs -->
                        <div class="row nav no-gutters">
                            <a class="col-md-4 restaurant-menu-item active" data-toggle="tab" href="#restaurant-menu"> <i class="fas fa-utensils mr-1"></i> Cardápio</a>
                            
                            <a class="col-md-4 restaurant-menu-item" data-toggle="tab" href="#restaurant-rating"><i class="fas fa-star mr-1"></i> Avaliações (96)</a>
                            
                            <a class="col-md-4 restaurant-menu-item" data-toggle="tab" href="#restaurant-info"><i class="fas fa-info-circle mr-1"></i> Informações</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content restaurant-body">           
            {% include "pages/restaurant/tabs/menu.html.twig" %}
            {% include "pages/restaurant/tabs/ratings.html.twig" %}
            {% include "pages/restaurant/tabs/informations.html.twig" %}
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {% include "pages/restaurant/modals/showPlate.html.twig" %}
{% endblock modals %}

{% block js %}
    <script type="text/javascript" src="/assets/js/pages/restaurant/restaurant.js"></script>
    <script type="text/javascript" src="/assets/js/pages/restaurant/modals/showPlate.js"></script>
{% endblock js %}
