* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

body {
    font-family: 'Open Sans';
    font-size:14px;
}

.topnav.navbar {
	background-color: #fe2724;
	border-bottom: 1px solid #e0e0e0;
	min-height: 40px;
	margin-bottom: 0px;
}

.topnav .navbar-nav > li > a {
    color: #fff;
}

.topnav #navbarNav {
	padding: 0;
}

.topnav .navbar-nav li {
	margin-top: 2px;
}

.topnav .navbar-nav li.menu-border a:after {
	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
	transition: width .3s;
	margin-top: 2px;
}

.topnav .navbar-nav li.menu-border a.menu-border-active:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin-top: 2px;
}

.topnav .navbar-nav li.menu-border a:hover::after {
	width: 100%;
}

header {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e0e0e0;
}

.logo img {
	width: 51%;
	margin-top: 18px;
	margin-left: -16px;
}

.logo-footer img {
	width: 60%;
}

.head-help, .head-email {
	display: inline;
}

.head-help i,
.head-email i {
	padding-left: 30px;
	padding-right: 10px;
	font-size: 20px;
	color: #fe2724;
}

.head-email span {
	color: #fe2724;
}

.block-header-2 {
	text-align: center;
	padding: 0;
}

.search-area {
	height: 40px;
    clear: both;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    margin: 10px 30px;
}

.search-area input {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

.search-area input[type=text] {
	height: 40px;
	line-height: 40px;
    float: left;
    width: 88%;
    padding-left: 15px;
}

.search-area input[type=submit] {
	width: 12%;
    height: 38px;
    float: left;
    background-image: url(../../images/search.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 1px;
}

.cart-area {
	float: right;
	margin-top: 27px;
}

.cart-icon {
	width:50px;
	height:50px;
	background-image:url('../../images/cart.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
	background-position:center;
	padding-left: 18px;
    padding-top: 6px;
    display:inline-block;
    vertical-align:top;
}

.cart-total {
	display:inline-block;
	color:#000;
}

.cart-total span {
	color:#fe2724;
	font-size:20px;
	font-weight: bold;
}

.cart-quantity {
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	color:#FFF;
	font-weight: bold;
	font-size:12px;
	background-color:#fe2724;
	border-radius:10px;
}

.category-area {
	margin-top:27px;
	margin-bottom:27px;
}

/* Carousel home */
#category-slide {
	width: 98%;
	margin: auto;
}

#category-slide .slick-slide {
	margin: 0px 20px;
}

#category-slide .slick-slide .content:hover {
	opacity: 0.7;
}

#category-slide .slick-slide a {
	text-decoration: none;
}

#category-slide .slick-slide img {
	width: 100%;
	border-radius: 3%;
}

#category-slide i {
	cursor: pointer;
	color: #ccc;
	position: absolute;
    top: 35%;
	display: block;
	font-size: 20px;
    padding: 0;
}

#category-slide i:hover {
	color: #fe2724;
}

#category-slide .arrow-left {
	left: -24px;
}

#category-slide .arrow-right {
	right: -24px;
}
/* .category-slider .slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.category-slider .slick-active {
	opacity: .5;
}

.category-slider .slick-current {
	opacity: 1;
} */

#category-slide .content {
	text-align: center;
}

#category-slide .content img {
	margin-bottom: 3px;
}

#category-slide .content span {
	font-size: 18px;
    font-weight: 600;
    color: #fe2724;
}

section {
	margin-bottom: 30px;
}

section .container {
	padding: 0;
}

h1 {
	font-size: 22px;
	font-weight: 600;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.filter-area {
	border: 2px solid #ececec;
    border-radius: 10px;
    padding: 15px;
}

footer {
	padding-top:30px;
	background-color: #F9F9F9;
    border-top: 1px solid #e0e0e0;
}

.sub-area {
	margin-top:50px;
	margin-bottom:50px;
}

.sub-area form {
	margin:0;
	padding:0;
}

.sub-area:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
    margin-top: 30px;
}

.sub-area .sub-email {	
	margin: 0;
	width: 80%;
	height: 50px;
	display: inline-block;
	border: 0;
	padding: 0;
	border: 1px solid #E0E0E0;
	border-radius: 5px 0 0 5px;
	outline: 0;
	padding-left: 15px;
}

.sub-area input[type=submit] {
	margin: 0;
	width: 20%;
	height: 50px;
	display: inline-block;
	border: 0;
	padding: 0;
	outline: 0;
	border-radius: 0 5px 5px 0;
	margin-left: -5px;
	color: #FFF;
}

footer h3 {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 30px;
	font-size: 18px;
}

.links {
	margin-bottom:50px;
}

.link-groups a {
	color: #acacac;
	text-decoration: none;
}

.link-groups a:hover {
	color:#fe2724;
}

.link-groups ul,
.link-groups li {
	margin:0 0 12px 0;
	padding:0;
	list-style:none;
}

.copyright {
	background-color: #3D3D3D;
    padding: 17px 0;
    line-height: 30px;
    color: #8a8a8a;
}

.copyright span {
	color:#FFF;
}

.payments {
	text-align: right;
}

.payments img {
	height:30px;
	background-color:#FFF;
	border-radius:4px;
	margin-right:3px;
}

.no-padding {
	padding:0;
}

.dropdown-menu {
	width: 100%;
}

.filter-box {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px
}

.filter-box .border-filter {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}

.filter-title {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	color: #fe2724;
	font-size: 17px;
	font-weight: bold;
}

.filter-item {
	height: 25px;
}

.filter-item label {
	display: flex;
	font-weight: normal;
}

.filter-item input {
	margin-right: 5px;
}

.rating-filter-page-home.jq-ry-container {
	padding: 0;
}

.option-filter, .option-name {
	margin-bottom: 5px;
}

.none-item {
	color: #ccc;
}

.select2 {
	width: 100% !important;
}

.select2-container--bootstrap4 .select2-selection {
	border: none !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
	/* padding: 0 !important; */
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    -webkit-box-shadow: 0 0 0 0.08rem #fe2724 !important;
    box-shadow: 0 0 0 0.08rem #fe2724 !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted {
	background-color: #fe2724 !important;
	color: #fff !important;
}

#modalNewsletter .modal-title {
	font-weight: 600;
}

#modalNewsletter .modal-body {
	display: flex;
	align-items: center;
}

#modalNewsletter .modal-body i {
	font-size: 50px;
	display: flex;
	margin-right: 13px;
	position: relative;
	bottom: 5px;
}

#modalNewsletter .modal-body .success {
	color: #59b210;
}

#modalNewsletter .modal-body .error {
	color: #fe2724
}



