.topnav.navbar {
  background-color: #fa3734;
  border-bottom: 1px solid #e0e0e0;
  min-height: 40px;
  margin-bottom: 0px; }

.topnav .navbar-nav > li > a {
  color: #fff; }

.topnav #navbarNav {
  padding: 0; }
  .topnav #navbarNav .dropdown-menu {
    font-size: 13px;
    padding-top: 13px; }
    .topnav #navbarNav .dropdown-menu i {
      margin-right: 10px; }
    .topnav #navbarNav .dropdown-menu a {
      color: #555;
      background-color: #fff;
      transition: color 0.5s; }
      .topnav #navbarNav .dropdown-menu a:hover {
        color: #fa3734; }
  .topnav #navbarNav .dropdown-user img {
    width: 30px;
    height: 30px;
    object-fit: cover; }

.topnav .navbar-nav li {
  margin-top: 2px; }

.topnav .navbar-nav li.menu-border a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .17s;
  margin-top: 2px; }

.topnav .navbar-nav li.menu-border a.menu-border-active:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 2px; }

.topnav .navbar-nav li.menu-border a:hover::after {
  width: 100%; }

header {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e0e0e0; }

.logo img {
  width: 60%;
  margin-top: 33px; }

.head-help, .head-email {
  display: inline; }

.head-help i,
.head-email i {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 20px;
  color: #fa3734; }

.head-email span {
  color: #fa3734; }

.block-header-2 {
  text-align: center;
  padding: 0; }

.search-area {
  height: 40px;
  clear: both;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  margin: 10px 30px; }

.search-area input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0; }

.search-area input[type=text] {
  height: 40px;
  line-height: 40px;
  float: left;
  width: 88%;
  padding-left: 15px; }

.search-area input[type=submit] {
  width: 12%;
  height: 38px;
  float: left;
  background-image: url("../../images/search.png");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 1px; }

.cart-area {
  float: right;
  margin-top: 24px; }

.cart-icon {
  width: 50px;
  height: 50px;
  background-image: url("../../images/cart.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 18px;
  padding-top: 6px;
  display: inline-block;
  vertical-align: top; }

.cart-total {
  display: inline-block;
  color: #000; }

.cart-total span {
  color: #fa3734;
  font-size: 20px;
  font-weight: bold; }

.cart-quantity {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  background-color: #fa3734;
  border-radius: 10px; }
