<div class="tab-pane fade pt-0" id="pills-social-media" role="tabpanel" aria-labelledby="pills-social-media-tab">
    <div class="card">
        <div class="card-header">
            <h5>Mídias Sociais</h5>
        </div>

        <div class="card-body pt-0">
            <table class="table table-striped table-bordered restaurant-social-media">
                <thead>
                    <tr>
                        <th>Mídia Social</th>
                        <th>Link ou Celular</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        
            <div class="selected-social-medias
            d-none"></div>
        
            <div class="float-left">
                <button id="addSocialMedia" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            </div>

            <div class="float-right">
                <button id="saveSocialMedia" class="btn btn-primary">
                    Salvar
                </button>
            </div>
        </div>
    </div>    
</div>