#pills-restaurant-edit #pills-social-media table.restaurant-social-media {
  table-layout: fixed; }
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media th,
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media td {
    vertical-align: middle; }
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media th:nth-child(3) {
    width: 17%; }
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media td.link-or-phone {
    color: #fa3734;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media .actions {
    display: flex; }
  #pills-restaurant-edit #pills-social-media table.restaurant-social-media .action {
    /* width: -webkit-fill-available;
                border-radius: 50%; */
    margin: 0 2px; }

#pills-restaurant-edit #pills-social-media #addSocialMedia {
  border-radius: 50%; }
