<div class="modal hide fade" id="modalEditPlate" tabindex="-1" role="dialog" aria-labelledby="modalEditPlateLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">  
                <h5 class="modal-title" id="modalEditPlateLabel">Editar Prato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pb-0">
               <div class="form-group">
                    <label for="">Categoria:</label>
                    <select class="form-control selectric">
                        <option value="">Pizzas</option>
                        <option value="">Acais</option>
                        <option value="">Sorvetes</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" id="backEditPlate" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                <button type="button" id="saveEditPlate" class="btn btn-primary" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>