<div id="modalAddOperation">
    <table class="table table-striped table-bordered table-operation">
        <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Abertura</th>
            <th scope="col">Fechamento</th>
            <th scope="col">Abertura</th>
            <th scope="col">Fechamento</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Segunda-Feira</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Terça-Feira</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Quaerta-Feira</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Quinta-Feira</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Sexta-Feira</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Sábado</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>

            <tr>
                <td>Domingo</td>
                <td>
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
                <td>                  
                    <input type="text" class="form-control text-center px-0">
                </td>
            </tr>


        </tbody>
    </table>
</div>