<div id="modalAddOperation">
    <table class="table table-striped table-bordered table-operation">
        <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Abertura*</th>
            <th scope="col">Fechamento*</th>
            <th scope="col">Abertura</th>
            <th scope="col">Fechamento</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
        {# 
            <tr>
                <td>Segunda-Feira</td>
                <td>
                    <input type="text" name="mondayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="mondayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="mondayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="mondayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Terça-Feira</td>
                <td>
                    <input type="text" name="tuesdayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="tuesdayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="tuesdayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="tuesdayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Quarta-Feira</td>
                <td>
                    <input type="text" name="wednesdayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="wednesdayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="wednesdayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="wednesdayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Quinta-Feira</td>
                <td>
                    <input type="text" name="thursdayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="thursdayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="thursdayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="thursdayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Sexta-Feira</td>
                <td>
                    <input type="text" name="fridayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="fridayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="fridayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="fridayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Sábado</td>
                <td>
                    <input type="text" name="saturdayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="saturdayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="saturdayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="saturdayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>

            <tr>
                <td>Domingo</td>
                <td>
                    <input type="text" name="sundayOpen1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="sundayClose1" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="sundayOpen2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="sundayClose2" class="form-control text-center">
                </td>
                <td>                  
                    <input type="text" name="action" class="form-control text-center">
                </td>
            </tr>
        #}
        </tbody>
    </table>

    <div class="selected-week-days d-none"></div>

    <button id="addWeekDay" class="btn btn-primary"><i class="fas fa-plus"></i></button>
</div>