<div id="modalAddOperation">
    <table class="table table-striped table-bordered table-operation">
        <thead>
            <tr>
                <th rowspan="2">Dia</th>
                <th colspan="2">1º Horário</th>
                <th colspan="2">2º Horário</th>
                <th rowspan="2">Ações</th>
            </tr>
            <tr>
                <th>Abertura</th>
                <th>Fechamento</th>
                <th>Abertura</th>
                <th>Fechamento</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

    <div class="selected-week-days d-none"></div>

    <button id="addWeekDay" class="btn btn-primary"><i class="fas fa-plus"></i></button>
</div>