<div class="tab-pane fade pt-0" id="pills-change-password" role="tabpanel" aria-labelledby="pills-change-password-tab">
    <div class="card">
        <div class="card-header">
            <h5>Alterar Senha</h5>
        </div>

        <div class="card-body pt-0">
            <div class="form-row">
                <div class="form-group col-6 mb-0">
                    <label for="accountOldPassword">Senha Antiga</label>
                    <input type="password" id="accountOldPassword" class="form-control" name="accountOldPassword" placeholder="Digite a senha antiga">
                </div>

                <div class="form-group col-6 mb-0">
                    <label for="accountNewPassword">Nova Senha</label>
                    <input type="password" id="accountNewPassword" name="accountNewPassword" class="form-control" placeholder="Digite a nova senha">
                </div>

                <a href="#" class="mb-3 ml-1" href="">Esqueceu a senha ?</a>
            </div>

            <button type="button" id="submitProfile" class="btn btn-primary" disabled>
                Salvar
            </button>
        </div>
    </div>    
</div>