section.restaurant-plates {
  margin: auto;
  max-width: 1500px; }
  section.restaurant-plates .table-restaurant-plates .plate-image {
    width: 65px;
    height: 45px;
    margin: 8px 0; }
  section.restaurant-plates .table-restaurant-plates img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem; }
  section.restaurant-plates #addPlate {
    border-radius: 50%; }
